.wiki-result {
  font-family: 'Lato', sans-serif;
  padding-left: 20px;
  border-style: solid;
  border-color: #4F6C9B;
  border-width: 2px;
  background-color: #B4D1FF;
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 20px;
  transition-property: border-left-width;
  transition-duration: 1s;
}

.wiki-result a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.wiki-result:hover {
  border-left-width: 15px;
}

body {
  background-color: #869BBD;
  font-family: 'Lato', sans-serif;
}

.container a{
  color: inherit; /* blue colors for links too */
}

.container p{
  margin-top: 5px;
}
